@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap');

:root {
  --ow-title-fontsize--m: 17px;
  --ow-title-fontweight--m: 500;
  --ow-time-color: #888;
  --ow-time-fontweight: 300;
  --ow-orange: #ff661f;
}

/* common */
* {
  font-family: 'Noto Sans TC', sans-serif !important;
}
p {
  font-weight: 300;
}

.ow-evenly-rows {
  display: flex;
  flex-direction: column;
}

.ow-evenly-rows > * {
  margin-bottom: 0 !important;
  margin-top: 20px !important;
  flex: 0 0 auto;
  /*
  min-height: 150px;
  height: 10vh;
  */
}

.ow-res-item .row {
  --bs-gutter-x: 1em;
}
.ow-res-item-image {
  /*height: 50vw;*/
  height: 100%;
}
.ow-res-item-image a {
  display: block;
  height: 100%;
}
.ow-res-item-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: unset;
}
.ow-res-item-content {
  padding: 1em !important;
  margin-right: .5em !important;
}

.ow-title {
  line-height: 1.3 !important; 
}
.ow-title._ow-size--m {
  font-size: var(--ow-title-fontsize--m) !important;
  font-weight: var(--ow-title-fontweight--m) !important;
}
.ow-title[class*="_ow-lines--"]{
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.ow-title._ow-lines--1 {
  max-height: 1.3em;
  -webkit-line-clamp: 1;
}
.ow-title._ow-lines--2 {
  max-height: 2.6em;
  -webkit-line-clamp: 2;
}
.ow-title._ow-lines--3 {
  max-height: 3.9em;
  -webkit-line-clamp: 3;
}
.ow-time {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 13px !important;
  font-weight: var(--ow-time-fontweight) !important;
  color: var(--ow-time-color) !important;
}
.ow-tag {
  background-color: var(--ow-orange);
  font-weight: 300 !important;
  display: inline-block;
  padding: 0 .3em;
  color: #FFF !important;
}
.ow-more {
  position: absolute;
  color: #888;
  top: 5px;
  right: 0;
}
.ow-more .bx {
  vertical-align: middle;
}
/* top-header*/
.top-header-logo {
  display: inline-block;
}
.breaking-news-content {
  display: inline-block;
  width: calc(100% - 230px);
  vertical-align: middle;
}
.languages-list {
  text-align: right;
}
.languages-list a {
  display: inline-block;
  margin-left: 1em;
}
.languages-list a:first-child {
  margin-left: 0;
}
.languages-icon {
  vertical-align: text-bottom;
  width: 1.4em;
  height: 1.4em;
  overflow: hidden;
  margin-right: .2em;
}
@media only screen and (max-width: 1199px) {
  .top-header-logo {
    display: none;
  }
  .breaking-news-content {
    display: block;
    width: 100%;
    vertical-align: unset;
  }
}

@media only screen and (max-width: 991px) {
  .languages-list {
    text-align: center;
  }
}

/* navbar */
.navbar-brand {
  margin-right: 15px;
  display: none;
}
.navbar-brand img {
  max-width: unset;
  width: 35px;
  height: 35px;
}
.main-navbar .navbar .navbar-nav {
  margin: unset;
  padding-right: 20px;
  width: calc(100% - 250px);
}
.main-navbar .navbar .navbar-nav .nav-item a {
  font-size: 18px;
  padding: 20px 12px;
}
.main-navbar .navbar .others-options .option-item .search-box {
  margin-bottom: 0px;
}
.navbar-area.is-sticky {
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .1);
}
.navbar-area.is-sticky .navbar-brand {
  display: block;
}
.navbar-area.is-sticky .main-navbar .navbar .navbar-nav .nav-item a {
  padding-top: 8px;
  padding-bottom: 10px;
}
.navbar-area.is-sticky .main-navbar .navbar .others-options .option-item .search-box .form-control {
  height: 35px;
}
.navbar-area.is-sticky .main-navbar .navbar .others-options .option-item .search-box button {
  width: 25px;
  height: 25px;
}
.others-option-for-responsive .option-inner .others-options .option-item .search-box {
  margin-bottom: 0;
}

@media only screen and (max-width: 1199px) {
  .navbar-area {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mean-container .mean-nav {
      margin-top: 45px;
  }
}

/* owl carousel*/
.owl-theme .owl-dots .owl-dot.active span {
  background-color: var(--ow-orange); 
}

/* main news*/
.single-main-news::before {
  display: none;
} 
.main-news-area .owl-dots {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 1;
  padding: 1em 0;
}
.main-news-slides.owl-theme .owl-nav {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
}
.main-news-slides.owl-theme .owl-nav [class*=owl-].owl-next {
  top: -22px;
  right: 0;
}
.main-news-slides.owl-theme .owl-nav [class*=owl-].owl-prev {
  top: -22px;
  left: 0;
}
.single-main-news {
  margin-bottom: 0;
}
.single-main-news-box img {
  position: unset;
}
.single-main-news-box .news-content {
  padding: unset;
  margin: unset;
}

@media only screen and (max-width: 760px) {
  .main-news-slides.owl-theme .owl-dots {
    display: none;
  }
}

/* popular news */
.most-popular-news {
  margin-bottom: 30px;
}
.most-popular-news-main .single-most-popular-news:last-child {
  margin-bottom: 0;
}
.single-most-popular-news .popular-news-content h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* video news */
.video-item .video-news-image i {
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}
.video-item .video-news-content {
  padding: 1em;
}
.video-item .video-news-content h3 {
  margin-bottom: 0;
}
.video-overview {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, .3);
  opacity: 0;
  z-index: -1;
  transform: scale(0.8);
  transition: opacity .3s ease-out,
              transform .3s cubic-bezier(0, 0, 0.18, 1.32); 
}
.video-overview._active {
  z-index: 10;
  opacity: 1;
  transform: scale(1);
}
.video-embed {
  position: relative;
  padding-top: 56.25%;
}
.video-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
}
.video-fulltitle {
  font-weight: 700;
  font-size: 20px;
  padding: 1em; 
}
.video-description {
  padding-top: 0;
  padding: 0 1em 2em 1em;
  color: #888;
} 

/* politics-news */
.politics-news {
  margin-bottom: 30px;
}
.politics-news-main .single-politics-news:last-child {
  margin-bottom: 0;
}
.politics-news-post {
  border: 1px solid #eee;
}
.politics-news-post .ow-tag {
  font-size: 14px;
}
@media only screen and (max-width: 991px) {
  .politics-news-main .politics-news-image {
    height: 50.25vw;
    overflow: hidden;
  }
  .single-politics-news .politics-news-image img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
  }
}

/*business-news*/
.single-business-news .business-news-content {
  margin-top: 10px;
}
.single-business-news .business-news-content h3 {
  margin-bottom: 12px;
}
.single-business-news .business-news-image {
  padding-top: 56.18%;
  overflow: hidden;
  position: relative;
}
.single-business-news .business-news-image img {
  display: block;
  width: 100%;
  height: 100%; 
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* business-news */
.single-business-news .business-news-content .ow-title {
  height: unset;
  max-height: 2.6em;
}

/* health news */
.single-health-news .health-news-content .ow-time {
  color: #ccc !important;
} 

/* widget area */
.widget-area .widget_latest_news_thumb .item .info .title {
  margin-bottom: 10px;
}
 
/* ================================================ 
 * responsive 
 */
@media (min-width: 990px) {
  .ow-evenly-rows {
    justify-content: space-between;
  }
  .ow-evenly-rows > * {
    margin: 0 !important;
  }
  .ow-evenly-rows._ow-rows--3 > * {
    flex: 0 0 30%;
  }
  .ow-evenly-rows._ow-rows--4 > * {
    flex: 0 0 22%;
  }
  .ow-res-item > .row{
    height: 100%;
  }
  .ow-res-item-content {
    padding: 0 !important;
  }
  .ow-res-item-image {
    height: 100%;
  }
  .ow-evenly-rows .single-main-news-box {
    flex: 0 0 33.3%;
  }
}

@media (min-width: 1200px) {
  .ow-evenly-rows .single-main-news-box {
    flex: 0 0 30%;
  }
}